$color-white: #fff;
$color-grey: #A3A3A3;
$color-green: #00A750;
$color-blue: #00B0FF;
$color-purple: #A557B5;
$color-red: #E85024;
$color-yellow: #FFC900;

$color-black: #000;
$color-black-2: #232323;
$color-black-3:#353535;
$color-black-4:#565656;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
