@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: $color-white;
  line-height: 1.9;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

a {
  color: $color-white;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 100;
  :hover {
    color: $color-grey;
  }
}

