.settings {
    width: 13vw;
    height: fit-content;
    min-width: 200px;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    right: 0;
    color: $color-grey;
    font-weight: bold;
    background-color: $color-black-4;
    margin: 0 auto;
    padding: 0 2rem 1rem 2rem;
    box-shadow: 0 0 2rem $color-black-1;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem);
    &.showed {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    @include respond(tab-land) {
        top: 37px
    }
    &__form {
        & p {
            margin: 10px 0;
            width: 100%;
        }
    }
}